<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tradesk</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <link rel="stylesheet" href="static/css/styles.css">
   </head>
   <body class="bg-gray-800 text-gray-300 min-h-screen flex flex-col">
      <header class="bg-gray-900 p-6 shadow-md fixed top-0 w-full">
         <div class="container mx-auto flex items-center justify-between">
            <!-- Left Aligned Logo -->
            <h1 class="text-3xl text-gray-300 font-bold"><a href="/">Tradesk</a></h1>
         </div>
         <nav class="container mx-auto flex items-center justify-between mt-4">
            <!-- Left Aligned Navigation Links -->
            <div class="flex items-center space-x-5">
               <a href="/" class="text-lg text-gray-500 hover:text-gray-300">Home</a>
               <a href="/portfolio" class="text-lg text-gray-500 hover:text-gray-300">Portfolio</a>
               <a href="/explore" class="text-lg text-gray-500 hover:text-gray-300">Explore</a>
               <a href="/stock_list" class="text-lg text-gray-500 hover:text-gray-300">S&P 500 Stock Data</a>
               <a href="/battle" class="text-lg text-gray-500 hover:text-gray-300">Stock Battle</a>
               <button onclick="toggleHidden('settings')" class="text-lg text-gray-500 hover:text-gray-300">Account Settings</button>
            </div>
            <!-- Right Aligned Login/Register/Logout -->
            <div class="flex items-center ml-auto space-x-5">
               {% if not logged_in %}
               <button onclick="toggleHidden('register')" class="text-lg text-gray-500 hover:text-gray-300">Register</button>
               <button onclick="toggleHidden('login')" class="text-lg text-gray-500 hover:text-gray-300">Login</button>
               {% else %}
               <a href="/logout" class="text-lg text-gray-500 hover:text-gray-300">Logout</a>
               {% endif %}
            </div>
         </nav>
      </header>
      <!-- Main Content -->
      <main>
        <div class="mt-40 flex items-center justify-center bg-gray-800 p-8">
           <div class="shadow-2xl text-center max-w-7xl w-full bg-gray-700 p-4 rounded-lg shadow-2xl">
              {% if logged_in %}
              <h2 class="text-9xl text-gray-300 mt-10 mb-5 tracking-wider">
                 {{user}} Portfolio
              </h2>
              <form action="/stock_register" method="POST" class="space-y-4">
                 <div>
                    <label for="stock" class="block text-sm font-medium text-gray-400">Stock Name</label>
                    <input type="text" id="stock" name="stock" class="w-full px-3 py-2 bg-gray-300 text-black rounded" required>
                 </div>
                 <div class="flex justify-between items-center">
                    <button type="submit" class="bg-gray-400 hover:bg-gray-600 text-white py-2 px-4 rounded">Enter</button>
                 </div>
              </form>
              {% else %}
              Log in to access Portfolio
              {% endif %}
           </div>
        </div>




<div class="mb-20 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    No.
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Stock
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Company
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Sector
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Industry
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Current Price
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Market Cap
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    <span class="sr-only">Remove</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for line in dataToPass %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{line[0]}}
                </th>
                <td class="px-6 py-4 text-center">
                    {{line[1]}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{line[2]}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{line[3]}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{line[4]}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{line[5]}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{line[6]}}
                </td>
                <td class="px-6 py-4 text-center">
                  {% if line[7] %}
                    <button onclick="toggleHidden('edit')" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit Stock</button>
                    {% else %}
                    <form action="/portfolio" method="POST">
                      <input type="hidden" name="stock" value="{{line[1]}}">
                      <input type="hidden" name="trigger" value="True">
                      <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View Stock</button>
                    </form>
                    {% endif %}
                </td>
                <td class="px-6 py-4 text-center">
                    <form action="/remove" method="POST">
                      <input type="hidden" name="stock" value="{{line[1]}}">
                      <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
  {% if view %}
  <div class="text-gray-700 fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center">
     <div class="bg-gray-300 p-6 rounded shadow-lg w-3/4 h-2/3">
        <h3 class="text-gray-700 text-2xl font-bold mb-4">View Stocks</h3>
        <div id="chart"></div>
        <div class="flex justify-between items-center">
           <form action="/portfolio" method="POST" class="space-y-4">
              <input type="hidden" name="trigger" value="False">
              <button type="submit" class="text-gray-600 hover:text-black">Cancel</button>
           </form>
        </div>
     </div>
  </div>
  {% endif %}
      </main>


      <!-- Edit Stock Info  -->
      <div id="edit" class="fixed inset-0 bg-black bg-opacity-30 hidden flex items-center justify-center">
         <div class="bg-gray-700 p-6 rounded shadow-lg w-1/2 h-1/2">
            <h3 class="mt-10 text-5xl font-bold mb-4">Edit Stock Info</h3>
            <form action="/edit" method="POST" class="space-y-4">

              <div class="flex justify-between items-center">
                 <button type="button" onclick="toggleHidden('edit')" class="text-gray-300 hover:text-black">Cancel</button>
              </div>
            </form>
         </div>
      </div>


      <!-- Register  -->
      <div id="register" class="fixed inset-0 bg-black bg-opacity-70 hidden flex items-center justify-center">
         <div class="bg-gray-700 p-6 rounded shadow-lg w-1/2 h-1/2">
            <h3 class="text-5xl font-bold mb-4">Register</h3>
            <form action="/register" method="POST" class="space-y-4">
               <div>
                  <label for="username" class="block text-sm font-medium text-gray-400">Username</label>
                  <input type="text" id="username" name="username" class="w-full px-3 py-2 bg-gray-300 text-black rounded" required>
               </div>
               <div>
                  <label for="password" class="block text-sm font-medium text-gray-400">Password</label>
                  <input type="password" id="password" name="password" class="w-full px-3 py-2 bg-gray-300 text-black rounded" required>
               </div>
               <div>
                  <label for="password2" class="block text-sm font-medium text-gray-400">Confirm Password</label>
                  <input type="password" id="password2" name="password2" class="w-full px-3 py-2 bg-gray-300 text-black rounded" required>
               </div>
               <div class="flex justify-between items-center">
                  <button type="submit" class="bg-gray-400 hover:bg-gray-600 text-white py-2 px-4 rounded">Register</button>
                  <button type="button" onclick="toggleHidden('register')" class="text-gray-300 hover:text-black">Cancel</button>
               </div>
            </form>
         </div>
      </div>
      <!-- Log In  -->
      <div id="login" class="fixed inset-0 bg-black bg-opacity-30 hidden flex items-center justify-center">
         <div class="bg-gray-700 p-6 rounded shadow-lg w-1/2 h-1/2">
            <h3 class="mt-10 text-5xl font-bold mb-4">Login</h3>
            <form action="/login" method="POST" class="space-y-4">
               <div>
                  <label for="username" class="block text-sm font-medium text-gray-400">Username</label>
                  <input type="text" id="username" name="username" class="w-full px-3 py-2 bg-gray-300 text-black rounded" required>
               </div>
               <div>
                  <label for="password" class="block text-sm font-medium text-gray-400">Password</label>
                  <input type="password" id="password" name="password" class="w-full px-3 py-2 bg-gray-300 text-black rounded" required>
               </div>
               <div class="flex justify-between items-center">
                  <button type="submit" class="bg-gray-400 hover:bg-gray-600 text-white py-2 px-4 rounded">Log In</button>
                  <button type="button" onclick="toggleHidden('login')" class="text-gray-300 hover:text-black">Cancel</button>
               </div>
            </form>
         </div>
      </div>
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="absolute top-4 left-1/2 transform -translate-x-1/2 w-3/4 sm:w-1/2">
         {% for category, message in messages %}
         <div class="alert {{ category }} mb-4 p-4 rounded-lg shadow-lg opacity-100 transition-opacity duration-1000 animate-fade-out" id="flash-message">
            <p class="font-semibold text-lg">
               {{ message }}
            </p>
         </div>
         {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <!-- Account Settings  -->
      <div id="settings" class="fixed inset-0 bg-black bg-opacity-70 hidden flex items-center justify-center">
         <div class="bg-gray-700 p-6 rounded shadow-lg w-1/4 h-1/4">
            <h3 class="text-2xl font-bold mb-4">Account Settings</h3>
            {% if logged_in %}

            {% else %}
            <h3 class="text-2xl font-bold mb-4">Log in first!</h3>
            {% endif %}
            <div class="flex justify-between items-center">
               <button type="button" onclick="toggleHidden('settings')" class="text-gray-400 hover:text-black">Cancel</button>
            </div>
         </div>
      </div>
      <!-- Footer -->
      <footer class="fixed bottom-0 w-full bg-gray-800 p-4 text-center">
         <p class="text-gray-300 text-sm mb-5">&copy; 2025 Tradesk. All rights reserved.</p>
      </footer>

      <script>
         var data1 = {{ stockDates | tojson}};
         var data2 = {{ stockHigh | tojson}};
         var stockName = "{{ stock }}";
      </script>
      <script src="static/js/scripts.js"></script>
   </body>
</html>
